<header class="site-header">
  <div class="header-container">
    <div class="logo">
      <h1>CSE Motors</h1>
    </div>
    <div class="spacer"></div>
    <div class="account">
      <% if (loggedin) { %>
        <a href="/account" class="account-link">Welcome, <%= firstname %></a>
        <a href="/account/logout" class="account-link">Logout</a>
      <% } else { %>
        <a href="/account/login" class="account-link">My Account</a>
      <% } %>
</div>
  </div>
</header>