<nav class="main-nav">
  <ul class="nav-list">
    <li><a href="/">Home</a></li>
    <% if (classificationList && classificationList.length > 0) { %>
      <% classificationList.forEach(classification => { %>
        <li><a href="/inventory/type/<%= classification.classification_name %>"><%= classification.classification_name %></a></li>
      <% }) %>
    <% } %>
  </ul>
</nav>