<div class="error-page">
  <div class="error-box">
    <h1 class="error-title">403 Forbidden</h1>
    <p class="error-message">
      <%= typeof message !== 'undefined' ? message : 'You do not have permission to access this page.' %>
    </p>
    <a href="/" class="error-link">Return to Homepage</a>
  </div>
</div>